torch>=2.6.0
torchvision>=0.16.0
transformers>=4.45.2
diffusers>=0.31.0
compel>=2.0.0
tqdm>=4.0.0
Pillow>=9.0.0
numpy>=1.22.0
matplotlib>=3.6.0
opencv-python>=4.7.0
accelerate>=0.25.0
scipy>=1.10.0
bitsandbytes>=0.42.0
nltk>=3.8.1
luxonis-ml[data,utils]==0.8.0
python-box>=7.1.1
gcsfs>=2023.1.0
sentencepiece>=0.2.0
optimum-quanto>=0.2.6
huggingface_hub>=0.28.1
loguru>=0.7.0
pycocotools>=2.0.7 
sam2>=1.1.0 # not official package
